<!-- Sprint + Team Filters -->
<div class="text-center mb-3">
  <button class="btn btn-outline-primary m-1 sprint-toggle active" data-sprint="all">
    All
  </button>

  <% sprint_list.each do |sprint| %>
    <button
      class="btn btn-outline-primary m-1 sprint-toggle"
      data-sprint="<%= sprint.parameterize %>">
      <%= sprint %>
    </button>
  <% end %>
</div>

