echo "tmp/pids/server.pid" >> .gitignore
log/development.log
storage/*
.DS_Store
log/*.log
tmp/cache/
tmp/cache/*
/config/master.key
config/master.key
.env*
.env
config/credentials.yml.enc
/tmp/pids/server.pid