<% if controller_name == 'semesters' && action_name == 'team' %>
  <div class="dropdown topbar-inline-dropdown">
    <a class="topbar__link dropdown-toggle" href="#" id="teamDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= @team %>
    </a>
    <ul class="dropdown-menu" aria-labelledby="teamDropdown">
      <% if @teams.present? %>
        <% @teams.each do |team| %>
          <li><%= link_to team, semester_team_path(@semester, :team => team, :sprint => @sprint), class: "dropdown-item" %></li>
        <% end %>
      <% end %>

    </ul>
  </div>

  <div class="dropdown topbar-inline-dropdown">
    <a class="topbar__link dropdown-toggle" href="#" id="sprintDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= @sprint %>
    </a>
    <ul class="dropdown-menu" aria-labelledby="sprintDropdown">
      <% if @sprints.present? %>
        <% @sprints.each do |sprint| %>
          <li><%= link_to "#{sprint}", semester_team_path(@semester, :team => @team, :sprint => sprint), class: "dropdown-item" %></li>
        <% end %>
      <% end %>

    </ul>
  </div>
<% end %>
